<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
	
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	
    <link rel="stylesheet" type="text/css" href="bower_components/angular-rangeslider/angular.rangeSlider.css" media="screen" />
	
	<style type="text/css">
		#canvasDiv {
			border: 2px solid red;
			left: 50px;
			top: 50px;
			position: absolute;
			z-index: 10;
		}
		
		#player {
			left: 50px;
			top: 50px;
			position: absolute;
			z-index: 5;
		}
		
		#videoImages {
			border: 1px solid green;
		}
		
		.video-icon {
			background-size: 100% 100%;
			position: absolute;
		}
		
		#icon-angular {
			background-image: url("src/local/img/ng-europe-logo.png");   
			background-color: transparent;
			border: none;
			z-index: 500;
		}
		
		#icon-grunt {
			background-image: url("src/local/img/grunt-logo.png");   
			background-color: transparent;
			border: none;
		}
		
		#create-video-board {
			display: none;
			position: absolute;
			left: 0px;
			top: 0px;			
		}
		
		#layers {
			left: 750px;
			position: absolute;
		}
		
	</style>
</head>
<body data-ng-controller="AppCtrl as AppCtrl">

<a data-ng-click="AppCtrl.hideCanvas()" href="#/">Home</a> | 
<a data-ng-click="AppCtrl.showCanvas()" href="#/create">Create Video</a> | 
<a data-ng-click="AppCtrl.hideCanvas()" href="#/recent">Recent Videos</a> | 
<a data-ng-click="AppCtrl.hideCanvas()" href="#/play">Play Video</a> | 
<a data-ng-click="AppCtrl.hideCanvas()" href="#/about">About</a>
<hr>

<div id="create-video-board">
	<div id="canvasDiv" class="canvas"></div>
	<div id="player"></div>
</div>

<div data-ng-view>Loading...</div>

<!--
<button onclick="play()">Play</button>
<button onclick="pause()">Pause</button>
<button onclick="clearCanvas()">clearCanvas</button>
<button onclick="stopVideo()">stopVideo</button>
<script type="text/javascript" src="dist/obfuscated.js"></script>
-->
  
</body>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>

<script src="src/local/js/driver.js"></script>
<script src="src/local/js/modules/create.js"></script>
<script src="src/local/js/modules/recent.js"></script>
<script src="src/local/js/modules/play.js"></script>
<script src="src/local/js/modules/about.js"></script>
<script src="src/local/js/services/canvas.js"></script>
<script src="src/local/js/services/player.js"></script>
<script src="src/local/js/services/layers.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54277626-1', 'auto');
  ga('send', 'pageview');

</script>

</html>