
<div id="layers">

<h2>Layer Mode</h2>
<p>Select a layer and draw on the video.  The layer will appear for the selected visible range.  You can draw on the video while it is playing.</p>

<!--
<p>Draw on video.  Use the play button to start the video and draw as it plays.  You can pause the video and draw, resume playing and then draw more if you like.<p>
-->
<p>After you are done drawing, press the "playVideoWithDrawing" button to see the result.  You can adjust the Visible Range while previewing the video to see changes in real time.<p>


<button data-ng-click="CreateVideoCtrl.addLayer()">Add Layer</button>

<table class="table table-bordered">
	<tr>
		<th width="50">Active Layer</th>
		<th width="50">Show Layer?</th>
		<th>Visible Range</th>
		<th width="50">Delete</th>
		<th></th>
	</tr>
	
	<tr data-ng-repeat="layer in CreateVideoCtrl.layers track by $index" data-ng-class="{info: layer.isSelected == 1}">
		
		<td>
			<button data-ng-click="CreateVideoCtrl.setActiveLayer(layer)">Select</button>
		</td>
		<td>
			<input type="checkbox" data-ng-model="layer.showLayer">
		</td>
		<td>
			
			<div range-slider 
				min="layer.range.min" 
				max="layer.range.max" 
				model-min="layer.minVal" 
				model-max="layer.maxVal" 
				filter="minAndSeconds" 
				step="1"></div>

		</td>
		<td>
			<button type="button" data-ng-click="CreateVideoCtrl.deleteLayer(layer)">Delete</button>
		</td>
		<td>
			<!--
			<pre>
			{{ layer | json }}
			</pre>
			-->
		</td>
	</tr>
</table>
<button data-ng-click="CreateVideoCtrl.playVideo()">Play</button>
<button data-ng-click="CreateVideoCtrl.pauseVideo()">Pause</button>
<button data-ng-click="CreateVideoCtrl.playVideoWithDrawing()">Preview with Layers</button>

</div>