


<div id="videoImages">
		<div 
			id="icon-angular" 
			class="video-icon" 
			style="width: 50px; height: 50px;" 
			data-ng-mousedown="AppCtrl.mouseDown($event)" data-ng-mousemove="AppCtrl.mouseMove($event)"></div>
		<div id="icon-grunt" class="video-icon" style="width: 50px; height: 50px;"></div>	
	</div>